- @title = "My Resumes"
.header
  %ul.toolbar
    - if current_user.can_add_resume?
      %li
        %a{:href => "/resumes/new"} Create New
  .title My Resumes
  
.content
  - if current_user.has_resume?
    %ul.nicelist
      - current_user.resumes.each_with_index do |resume, index|
        %li
          %a.name{:href => "/resumes/#{resume.id}.html"} #{h resume.name}
          .buttons
            %a{:href => "/resumes/#{resume.id}/edit"} Edit
            %a{:href => "/resumes/#{resume.id}/messages"} Messages #{unread_messages_count(resume)}
          .formats
            %a{:href => "/resumes/#{resume.id}.pdf"}
              %img{:src => "/images/pdf.png", :width => "32", :height => "32", :title => "Download as PDF"}
            %a{:href => "/resumes/#{resume.id}.txt"}
              %img{:src => "/images/plain_text.png", :width => "32", :height => "32", :title => "Download as plain text"}
          .details
            Public URL: #{resume_link(resume)}
            - if resume.requires_access_code?
              %br
              Access Code: 
              %span.access_code #{h resume.access_code}
          .clear
  - else
    %h3 You have no resumes.
