- @title = h "Resume Message"
.header
  %ul.toolbar
    %li
      %a{:href => "/resumes/#{h @resume.id}/messages"} « Messages
  %h1 Message
  %h2 #{h @message.subject}
  
.content
  .message_view
    %ul
      %li
        From: #{h Sanitize.clean(@message.from)} &lt;#{Sanitize.clean(@message.email)}&gt;
      %li
        Subject: #{h Sanitize.clean(@message.subject)}
      %li
        Date: #{h @message.created_at.strftime("%r %Y-%m-%d")}
    %p.body
      :plain
        #{Sanitize.clean(@message.body).gsub("\n", "<br/>")}
