.public_panel
  %ul.formats
    %li
      %a{:href => "/view/#{@resume.slug}.pdf"}
        %img{:src => "/images/pdf.png", :width => "48", :height => "48", :title => "Download as PDF"}
    %li
      %a{:href => "/view/#{@resume.slug}.txt"}
        %img{:src => "/images/plain_text.png", :width => "48", :height => "48", :title => "Download as Plain Text"}
  %ul.sizer
    %li
      %a#increaser{:href => "#", :title => "Make text bigger"}
    %li
      %a#decreaser{:href => "#", :title => "Make text smaller"}
    %li
      %a#open_message{:href => "#", :title => "Send message"}

#message_dialog_container
  = haml :"resumes/message_dialog", :layout => false
      
= haml("resumes/_preview".to_sym, :layout => false, :locals => { :resume => @resume })

:javascript
  $(document).ready(function(){
    resizer = new RSResizer(".preview", "#increaser", "#decreaser", "#resetter");
    messenger = new Messenger({
      container: "#message_dialog_container",
      opener: "#open_message",
      slug: "#{@resume.slug}",
      resume_id: "#{@resume.id}",
      form: "#message_form"
    });
  });